.bg-container {
    background-image: url("happy_meals.png");
    height: 100vh;
    background-size: cover;
}
.order-card {
    background-color: #f6c56e;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 24px;
}
.order-card-title {
    color: #323f4b;
    font-family: "Bree Serif";
    font-size: 30px;
}
.descript {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
}
.order-button {
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    width: 120px;
    height: 38px;
    border-width: 0px;
    border-radius: 8px;
}