.portfolio-name {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: #4b6cc1;
    padding-left: 10px;
    padding-right: 10px;
}

.homepage-section {
    background-color: #191a1d;
    height: 100vh;
}
.name {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}
.main-para {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 24px;
}
.profile_pic {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}
.name-extra {
    color: #4b6cc1;
}
.contact-me {
    color: white;
    background-color: #4b6cc1;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}
.img_in_about {
    width: 100px;
    height: 100px;
}
.skill-imgs {
    width: 90px;
    height: 100px;
}
.skills-card {
     width: 200px;
    height: 200px;
    padding: 20px;
}
.skill-card-head {
    font-size: 30px;
}
