.portfolio-name {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: #4b6cc1;
    padding-left: 10px;
    padding-right: 10px;
}

.homepage-section {
    background-color: #191a1d;
    height: 100vh;
}
.name {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}
.main-para {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 24px;
}
.profile_pic {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}
.name-extra {
    color: #4b6cc1;
}
.contact-me {
    color: white;
    background-color: #4b6cc1;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}
.img_in_about {
    width: 100px;
    height: 100px;
}
.skill-imgs {
    width: 90px;
    height: 100px;
}
.skills-card {
     width: 200px;
    height: 200px;
    padding: 20px;
}
.skill-card-head {
    font-size: 30px;
}
.service-section {
    background-color: #52606d;
}
.service-sub {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}
.service-head  {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}
.service-card {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 20px;
}
.serv-card-img {
    height: 48px;
    width: 48px;
}
.serve-card-title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}
.serv-descript {
    color: #9aa5b1;
    
    font-size: 20px;
}
.work-done-section {
    background-image: url("img.jpg");
    background-size: cover;
}
.hr-line {
    background-color: white;
    width: 60px;
}

.work-done-title {
    color: white;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
}
.work-done-sub {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
}
.testimon-set {
    background-color: #1f2933;
    padding: 40px;
}

.test-sub-head {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}
.test-head {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}
.testimonial-card {
    background-color: #323f4b;
    padding: 20px;
}
.testimg {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.test-desc {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 18px;
}
.testimonial-card-person-name {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;

}
.testimonials-section {
    background-color: #1f2933;
    padding: 40px;
}
.testimonial-subhead {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}
.testimonials-head {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}
.testimonial-card {
    background-color: #323f4b;
    padding: 20px;
}
.testimg {
    width: 20px;
    height: 500px;
    border-radius: 50px;
}

.test-descript {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 18px;
}
.test-card-name {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.footer-sec {
    background-color: #0d2436;
}
.footer-sect-img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}
.footer-copy-sec {
    text-align: center;
    color: #ffffff;
    background-color: #001c32;
    padding: 10px;
}
.footer-sect-sub-head{
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}
.footer-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
}
.icon {
    color: #5a7184;
    font-size: 18px;
}
